h1 {
    color:green;
    text-align:center;
    background-color:darkgrey;
}
div{
    margin:auto;
width: 564px;
  height: 564px;
    background-size: cover;
}
p{
    font-size: larger;
    text-align: center;
    font-family: "system-ui";
}
#gonta_gokuhara {
    background-image: url("img/Gonta Gokuhara.jpg");
}